table {
  border: 10px solid #C3C7FD;
  border-spacing: 0px;
  font: normal 13px Tahoma;
  padding: 16px;
}

th {
  font-weight: bold;
  text-align: left;
}

th, td {
  padding: 2px 8px 2px 8px;
}

tr:nth-child(6) td {
  border-top: 1px solid #000;
  font-weight: bold;
}

td:nth-child(4), td:nth-child(5), td:nth-child(6) {
  text-align: center;
}