body {
  padding: 10px;
  font: normal 13px Tahoma;
}

a {
  color: #000;
  text-decoration: none;
}

a:visited {
  color: #CC6600;
}

span {
  background: url('left.gif') top left no-repeat, url('right.gif') top right no-repeat, url('mid.gif') repeat-x;
  padding: 4px 6px 4px 6px;
}

span:hover {
  background: #FFF;
  border-top: 1px solid #C1C1C1;
  border-right: 1px solid #C1C1C1;
  border-bottom: 1px solid #FFF;
  border-left: 1px solid #C1C1C1;
  font-weight: bold;
}

div {
  padding-bottom: 4px;
  border-bottom: 1px solid #C1C1C1;
}