<!DOCTYPE html>
<html>
<head>
  <title>Project3</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
    <p class="header__big">
      Bill Barnett<br />
      Gaslight
    </p>
    <p>bill@gaslight.co<br />
       (513) 470-3525<br />
       @agilous
    </p>
  </div>

  <%= yield %>

</body>
</html>
