/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  padding: 10px;
  font: normal 13px Tahoma;
}

a {
  color: #000;
  text-decoration: none;
}

.header {
  text-align: right;
  color: #F0F0F0;
  background: #50B1E7;
  padding: 5px 20px 5px 20px;
}

.header__big {
  font-size: 1.2em;
}

table {
  border-spacing: 0px;
  font: normal 13px Tahoma;
}

th {
  background-color: #50B1E7;
  color: #FFF;
  text-align: left;
}

tr:nth-child(odd) {
  background-color: #D7DAE0;
}

tr:nth-child(even) {
  background-color: #EAEBEF;
}

tr:nth-child(6) {
  display: none;
}

th, td {
  padding: 5px 10px 5px 10px;
}

td {
  border-top: 1px solid #FFF;
}

td:nth-child(4), td:nth-child(5), td:nth-child(6) {
  text-align: center;
}