/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  padding: 10px;
  font: normal 13px Tahoma;
}

.header {
  text-align: right;
  color: #F0F0F0;
  background: #50B1E7;
  padding: 5px 20px 5px 20px;
}

.header__big {
  font-size: 1.2em;
}

a {
  color: #000;
  text-decoration: none;
}

a:visited {
  color: #CC6600;
}

.selected {
  font-weight: bold;
}

span {
  background: url('left.gif') top left no-repeat, url('right.gif') top right no-repeat, url('mid.gif') repeat-x;
  padding: 4px 6px 4px 6px;
}

span:hover {
  background: #FFF;
  border-top: 1px solid #C1C1C1;
  border-right: 1px solid #C1C1C1;
  border-bottom: 1px solid #FFF;
  border-left: 1px solid #C1C1C1;
  font-weight: bold;
}

div {
  padding-top: .25in;
  padding-bottom: 4px;
  border-bottom: 1px solid #C1C1C1;
}
