<h2>Hey, here are some tabs:</h2>
<%= render partial: "tabs", locals: { tabs: @tabs_1, selected: @tabs_1.second[:label] } %>
<%= render partial: "tabs", locals: { tabs: @tabs_2, selected: @tabs_2.first[:label] } %>